<div class="container">
  <div class="card text-center border border-secondary shadow-0 mb-3 ">
    <div class="card-body">
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{{createdOnBoarding.pageLogo}}" alt="" width="90px" height="90px">
          </a>
        </div>
      </nav>
      <h5 class="card-title">OnBoarding</h5>
      <div [innerHTML]="createdOnBoarding.pageContents"></div>
      <button type="button" (click)="onClickDeleteOnBoarding(createdOnBoarding)" class="btn btn-warning">DELETE</button>
    </div>
  </div>
</div>

