<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-12 p-6 text-center md:text-center mt-lg-3 align-items-center ">
    <section>
      <span class="block text-6xl font-bold mb-0">WELCOME TO <span class="text-6xl text-primary font-bold mb-0">OnBOARDING</span> </span>
      <div class="text-6xl text-primary font-bold mb-0"></div>
    </section>
  </div>
</div>
<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
        <h1 class="block">Build a better product
            today, with experimentation
        </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid animi consectetur cumque debitis deleniti enim et, fugiat hic inventore magni neque nulla recusandae rem sed suscipit totam. Ab animi dolore odio sint? Ea, sint?</p>
        <p><a class="btn text-bg-info button-raised btn-info mt-3" routerLink="/admin">GET STARTED</a></p>
      </div>
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="./assets/Metrics-amico.svg">
      </div>
    </div>
  </div>
</section>



