
<div class="container">
<!--  <nav class="navbar navbar-light bg-light">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" href="#">-->
<!--        <h5 class="text-center pull-right"></h5>-->
<!--        <img src="{{createdPaige.pageLogo}}" alt="LOGO" width="90" height="80">-->
<!--      </a>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <div class="container mt-1">-->
<!--    <div class="row" style="height:500px; background-image: url({{createdPaige.pageBackgroundPic}})">-->
<!--      <div class="section-out-page">-->
<!--        <p class="justify-content-around"></p>-->
<!--      </div>-->
<!--      <div [innerHTML]="createdPaige.pageContents"></div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div>Some tags before</div>-->
<!--  <owl-carousel-o [options]="customOptions">-->
<!--    <ng-container >-->
<!--      <ng-template carouselSlide >-->
<!--        <div [innerHTML]="createdPaige.pageContents"></div>-->
<!--      </ng-template>-->
<!--    </ng-container>-->
<!--  </owl-carousel-o>-->
<!--  <div>Some tags after</div>-->


  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <div [innerHTML]="createdPaige.pageContents"></div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>



  <div class="col-md-12 text-center">
    <button href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-primary m-1">Edit OnBoarding</button>
    <button (click)="deleteMyCreatedPage(createdPaige)" class="btn btn-danger mt-1 m-1 mb-2">Delete Page</button>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="container-fluid">
    <div class="modal-dialog modal-xl  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Edit contents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <app-froala [content]="createdPaige.pageContents" (contentanswer)="createdPaige.pageContents = $event"></app-froala>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <app-save-button></app-save-button>
        </div>
      </div>
    </div>
  </div>
</div>


