<div class="container">
  <div class="row mt-3">
    <div class="col-sm-6">
      <div class="card w-85">
        <div class="card-body">
          <h5 class="card-title">{{page.pageName}}</h5>
          <p class="card-text">{{page.pageDescription}}</p>
          <button href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary m-1">Edit Page</button>
          <button href="#" (click)="onClickedDeleted(page)"  class="btn btn-danger m-1">Delete Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
